
/* Your CSS Code here. */
.holder{
    display: flex;
    justify-content: space-evenly;
        display: flex;
       flex-flow: row wrap;
    text-align: center;

}
.holder div{
    background-color: blue;
    margin: 10;
    width: 100px;
}
